<div id="content-distribution-sidebar-pane" class="pane" style="border-radius:0">
    <div>
        <p>
            <b>Content Distribution</b><br/>
            Klicken Sie auf "Beitrag teilen", um einen automatischen Publikationshinweis der Empfängerliste zuzustellen.
        </p>
    </div>

    <div style="text-align:right; margin-top:10px;">
        <button id="distribute-content" class="submit btn" href="/admin/content-distribution/send">Beitrag teilen</button>
    </div>
</div>

{% js %}
    $('#distribute-content').on('click', function (event) {
        event.preventDefault();

        var entryId = {{ context['entry'].id ?: 'false' }};

        if(!entryId){
            window.alert("Der Beitrag muss erst gespeichert werden, um versendet werden zu können.")
            return;
        }

        var confirmation = window.confirm("Bitte bestätigen Sie, dass der Beitrag versendet werden soll.")

        if(confirmation === true){
            var data = {};
            data[window.Craft.csrfTokenName] = window.Craft.csrfTokenValue;
            data["entryId"] = entryId;

            $.post('/admin/content-distribution/send', data).then(
                function (response) {
                    Craft.cp.displayNotice('Publikationshinweis wurde erfolgreich versendet.');
                    $('#content-distribution-sidebar-pane').html("<p>Publikationshinweis wurde erfolgreich versendet.</p>");
                },
                function (error) {
                    Craft.cp.displayError('Fehler beim versenden des Publikationshinweises');
                    $('#content-distribution-sidebar-pane').html("<p>Fehler beim Versenden des Publikationshinweises.</p>")
                }
            );
        }
    });
{% endjs %}